In [2]:
import tensorflow as tf 
from tensorflow import keras
import numpy as np
import pandas as pd

print(f"tensorflow version: {tf.__version__}")
print(f"keras version: {keras.__version__}")
print(f"numpy version: {np.__version__}")
print(f"pandas version: {pd.__version__}")

tensorflow version: 2.18.0
keras version: 3.6.0
numpy version: 2.0.2
pandas version: 2.2.3

In [3]:
data = pd.read_csv('data/mountains_vs_beaches_preferences.csv')

# for target variable Perference: 0 means beaches; 1 means mountains
# for other variables: 0 means no; 1 means yes
data.head(10)

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56,male,71477,bachelor,9,skiing,2477,urban,175,267,summer,0,1,1
1,69,male,88740,master,1,swimming,4777,suburban,228,190,fall,0,1,0
2,46,female,46562,master,0,skiing,1469,urban,71,280,winter,0,0,1
3,32,non-binary,99044,high school,6,hiking,1482,rural,31,255,summer,1,0,1
4,60,female,106583,high school,5,sunbathing,516,suburban,23,151,winter,1,1,0
5,25,male,110588,doctorate,3,sunbathing,2895,urban,6,47,fall,0,1,0
6,38,male,22245,bachelor,1,swimming,4994,rural,157,225,fall,0,1,0
7,56,non-binary,109411,bachelor,8,sunbathing,3656,urban,210,166,winter,1,0,0
8,36,male,22531,master,6,swimming,2408,suburban,218,263,summer,1,1,0
9,40,non-binary,90840,high school,1,swimming,4044,rural,271,15,summer,1,1,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52444 entries, 0 to 52443
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     52444 non-null  int64
 1   Gender                  52444 non-null  object
 2   Income                  52444 non-null  int64
 3   Education_Level         52444 non-null  object
 4   Travel_Frequency        52444 non-null  int64
 5   Preferred_Activities    52444 non-null  object
 6   Vacation_Budget         52444 non-null  int64
 7   Location                52444 non-null  object
 8   Proximity_to_Mountains  52444 non-null  int64
 9   Proximity_to_Beaches    52444 non-null  int64
 10  Favorite_Season         52444 non-null  object
 11  Pets                    52444 non-null  int64
 12  Environmental_Concerns  52444 non-null  int64
 13  Preference              52444 non-null  int64
dtypes: int64(9), object(5)
memory usage: 5.6+ MB